<nav>
  <div id="brand_logo">
    <a href="">
      <img
        src="{{ section.settings.logo_picker | img_url: 'medium'}}"
        alt=""
        loading="lazy"
        width="{{section.settings.logo_max_width}}px" />
    </a>
  </div>
  <!-- Navigation Links -->
  <ul class="header_nav--links">
    <li>
      <a href="">Home</a>
    </li>
    <li>
      <a href="">Shop</a>
    </li>
    <li>
      <a href="">Most Popular</a>
    </li>
    <li>
      <a href="">Deals</a>
    </li>
  </ul>
  <!-- Search -->
  <div class="header_search--bar">
    <svg
      class="icon-search"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M14.9143 16C15.4613 16 15.8485 15.5792 15.8485 15.0405C15.8485 14.788 15.7643 14.5439 15.5792 14.3672L11.6149 10.3945C12.4482 9.30037 12.9448 7.94529 12.9448 6.47238C12.9448 2.91215 10.0326 0 6.47238 0C2.92057 0 0 2.90373 0 6.47238C0 10.0326 2.91215 12.9448 6.47238 12.9448C7.87796 12.9448 9.17412 12.4903 10.2346 11.7328L14.2241 15.7223C14.4093 15.9074 14.6533 16 14.9143 16ZM6.47238 11.5476C3.6949 11.5476 1.39716 9.24987 1.39716 6.47238C1.39716 3.6949 3.6949 1.39716 6.47238 1.39716C9.24987 1.39716 11.5476 3.6949 11.5476 6.47238C11.5476 9.24987 9.24987 11.5476 6.47238 11.5476Z"
        fill="black" />
    </svg>
    <form action="" method="get">
      <input
        class="nav_search-input"
        type="text"
        name="q"
        id="q"
        placeholder="Search"
        autocomplete="off" />
    </form>
  </div>
  <!-- User list -->
  <ul class="nav-users">
    <li>
      <a href="">
        <svg
          class="icon-cart"
          viewBox="0 0 27 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.25 0.833252L1 6.49992V26.3333C1 27.0847 1.29851 27.8054 1.82986 28.3367C2.36122 28.8681 3.08189 29.1666 3.83333 29.1666H23.6667C24.4181 29.1666 25.1388 28.8681 25.6701 28.3367C26.2015 27.8054 26.5 27.0847 26.5 26.3333V6.49992L22.25 0.833252H5.25Z"
            stroke="#34251F"
            stroke-linecap="round"
            stroke-linejoin="round" />
          <path
            d="M1 6.5H26.5"
            stroke="#34251F"
            stroke-linecap="round"
            stroke-linejoin="round" />
          <path
            d="M19.4166 12.1667C19.4166 13.6696 18.8196 15.111 17.7569 16.1737C16.6942 17.2364 15.2528 17.8334 13.7499 17.8334C12.247 17.8334 10.8057 17.2364 9.74298 16.1737C8.68027 15.111 8.08325 13.6696 8.08325 12.1667"
            stroke="#34251F"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </a>
    </li>
    <li class="nav-user-login">
      <a href="">LOGIN</a>
    </li>
  </ul>
</nav>