<section data-section-id="{{section.id}}" data-section-type="header">
  <header>
    {% include 'navbar' %}
  </header>
</section>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Image Logo"
      },
      {
        "type": "image_picker",
        "id": "select_logo",
        "label": "Select Logo"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "label": "Logo Width",
        "max": 100,
        "min": 10,
        "unit": "px",
        "step": 1,
        "default": 84
      },
      {
        "type": "header",
        "content": "Text Logo"
      }, {
        "type": "text",
        "id": "logo_text",
        "label": "Ente your logo name"
      }, {
        "type": "range",
        "id": "logo_text_size",
        "label": "Logo font size",
        "max": 60,
        "min": 1,
        "unit": "px",
        "step": 1,
        "default": 35
      }, {
        "type": "header",
        "content": "Select Menu"
      }, {
        "type": "link_list",
        "id": "header_nav_menu",
        "label": "Select Navigation menu"
      }
    ]
  }
{% endschema %}