<section data-section-id="{{ section.id }}" data-section-type="header">
  <header>
    {% include 'navigation' %}
  </header>
</section>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_picker",
        "label": "Logo Image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 20,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Custom logo width",
        "default": 100
      }
    ]
  }
{% endschema %}