<section data-section-id="{{ section.id }}" data-section-type="header">
  <header>
    {% include 'navigation' %}
  </header>
</section>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_picker",
        "label": "Logo Image"
      }, {
        "type": "range",
        "id": "logo_size",
        "label": "Custom Logo Size",
        "min": "10",
        "max": "200",
        "unit": "px",
        "step": 2
      }
    ]
  }
{% endschema %}